body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, serif;
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.move-icon {
    height: 50px;
}

.move-button {
    border: 0;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: 5px;
    cursor: pointer;
    background: linear-gradient(#383838, #434a54);
}

.move-button:hover {
    background: linear-gradient(#505050, #66707e);
}

.js-result {
    font-size: 30px;
    font-weight: bold;
    margin: 50px;
}

.reset-score-button, .auto-play-button {
    background-color: white;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.js-score {
    margin-top: 75px;
}

/* Style the confirmation container */
#confirmation-container {
    margin: 50px;
    text-align: center;
    padding: 10px;
    display: none; /* Initially hidden */
    z-index: 999; /* Ensures the message is on top of other content */
}

/* Style the Confirm and Cancel buttons (optional) */
#buttons {
    margin-top: 10px;
}

#confirm-button, #cancel-button {
    margin: 5px;
    padding: 5px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#confirm-button {
    background: green;
}

#confirm-button:hover {
    background: darkgreen;
}

#cancel-button {
    background: darkred;
}

#cancel-button:hover {
    background: #690000;
}


