body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, serif;
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.move-icon {
    height: 50px;
}

.move-button {
    border: 0;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: 5px;
    cursor: pointer;
    background: linear-gradient(#383838, #434a54);
}

.move-button:hover {
    background: linear-gradient(#505050, #66707e);
}

.js-result {
    font-size: 30px;
    font-weight: bold;
    margin: 50px;
}

.reset-score-button {
    background-color: white;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.js-score {
    margin-top: 75px;
}